.about {
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.about h2 {
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.about_div {
  width: 200px;
  height: 300px;
  overflow: hidden;
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
  border-radius: 45px 10px 10px 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.about_second {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
@media only screen and (max-width: 600px) {
  .about {
    flex-direction: column;
  }
  .about h2 {
    font-size: small;
  }
  .about_second {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .about_div {
    margin-bottom: 20px;
  }
}
