.trugram {
  width: 100%;
  height: 100%;
  padding: 15px;
}
.trugram__body {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.trugram__body_message_sender {
  width: 500px;
  border-radius: 20px;
  padding: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background: #fff;
}
.trugram__body_message_sender_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid lightgray;
}
.trugram__posts {
  width: 600px;
  height: 500px;
  margin-top: 25px;
  overflow-y: scroll;
  padding: 15px;
}
.trugram__posts::-webkit-scrollbar {
  display: none;
}
